<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cts.phase3.persistence.dao.RaterDao" >
    <resultMap id="BaseResultMap" type="cts.phase3.persistence.model.Rater" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="points" property="points" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="image" property="image" jdbcType="BLOB" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, user_name, password, points, sex, area, phone, email, image
    </sql>
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from rater
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from rater
        where user_name = #{username,jdbcType=VARCHAR}
    </select>
    <select id="allRater" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from rater
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from rater
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cts.phase3.persistence.model.Rater" >
        insert into rater (user_name, password, points, sex, area, phone, email, image)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{points,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{image,jdbcType=BLOB})
    </insert>
    <insert id="insertSelective" parameterType="cts.phase3.persistence.model.Rater" >
        insert into rater
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="age != null" >
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cts.phase3.persistence.model.Rater" >
        update rater
        <set >
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cts.phase3.persistence.model.Rater" >
        update rater
        set user_name = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        points = #{points,jdbcType=INTEGER},
        sex = #{sex,jdbcType=INTEGER},
        area = #{area,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        image = #{image,jdbcType=BLOB}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>